/* HEADER */
header {
    box-shadow: var(--box-shadow);
}

.header-logo {
    max-width: 150px;
}

.header-logo img {
    width: 120px;
}

.header-search {
    max-width: 400px;
    border-radius: var(--border-radius);
    background-color: var(--gray-light);
}

.header-search input {
    border: 0;
    outline: 0;
    background-color: var(--gray-light);
    font-size: 16px;
}